.container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
}

.linksAndButton {
  display: flex;
  align-items: center;
  gap: 20px;
}

.linksList {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.logoutButton {
  padding: 5px;
  border: none;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}
